article {
    margin: 15px 10px;
    padding: 5px 15px;
    border: 1px solid #b2ad7d;
    background-color: #f2f4c0;
}

section {
    font-style: italic;
    color: #4c7658;
}

section h1 {
    font-size: x-large;
}

section h2 {
    font-size: large;
}

body {
    background-color: #e4e978;
}